<footer class="footer border-top border-black w-100 py-4 flex-shrink-0">
    <div class="container py-4">
        <div class="row gy-4 gx-5">
            <div class="col-lg-4 col-md-6">
                <h5 class="h1">Dante Beans</h5>
                <p class="small">We're making our best to serve you the best coffee in the world!</p>
                <p class="small mb-0">&copy; Copyrights. All rights reserved. <a class="text-decoration-none footer-link text-black" href="#">Dantebeans.com</a></p>
            </div>
            <div class="col-lg-2 col-md-6">
                <h5 class="mb-3">Quick links</h5>
                <ul class="list-unstyled">
                    <li><a class="text-decoration-none footer-link text-black" href="{% url 'home' %}">Home</a></li>
                    <li><a class="text-decoration-none footer-link text-black" href="{% url 'products' %}">Products</a></li>
                    <li><a class="text-decoration-none footer-link text-black" href="#">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6">
                <h5 class="mb-3">Social Media</h5>
                <ul class="list-unstyled">
                    <li><a class="text-decoration-none footer-link text-black" href="#">Facebook</a></li>
                    <li><a class="text-decoration-none footer-link text-black" href="#">Instagram</a></li>
                    <li><a class="text-decoration-none footer-link text-black" href="#">Twitter</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6">
                <h5 class="mb-3">Newsletter</h5>
                <p class="small">Subscribe to our Newsletter to get news of our new products and shops!</p>
                <form action="#">
                    <div class="input-group mb-3">
                        <input class="form-control" type="email" placeholder="Enter your e-mail address" aria-label="e-mail" aria-describedby="button-addon2">
                        <button class="btn btn-secondary" id="button-addon2" type="button"><i class="fas fa-paper-plane"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </footer>